/* Reset some default browser styles */
body, h1, h2, form, select, input, button {
    margin: 0;
    padding: 0;
}

/* Overall layout styles */
body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}

img{
    width: 3%;
    height: auto;
}

.container{
    background-color: #5ee470;
    height: 25vh;
    display: flex;
    width: 450px;
    display: grid;
    border: 1px solid black;
    margin-top: 30mm;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h2{
    text-align: center;
}

a:hover{
    background-color: #000000;
}

.sidebar input[type="file"],
.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -14px;
}

/* Navbar styling */
.navbar {
    width: 100%;
    height: 60px;
    background-color: #5ee470;
    color: white;
    padding: 10px 20px;
    text-align: left;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navb{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar h1 {
    font-size: 1.5rem;
}

h2{
    position: relative;
    margin-top: 4%;
}

/* Content area styling */
.content {
    width: 100%;
    padding: 50px;
    border: 1px solid #000000;
    background-color: #5ee470;
    margin-top: 50px; 
    border-radius: 10px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

form label {
    font-weight: bold;
}

form select,
form button {
    padding: 10px;
    font-size: 1rem;
    margin-left: 15px;
}

.main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}